{% extends 'component/layout.html' %} {% import 'component/component.html' as cmm %} {% block title %} 关于我们 {% endblock %} {% block style %}
<link rel="stylesheet" type="text/css" href="less/_relation.less"> {% endblock %} {% block body %}
<section id="banner">
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="images/about_05.jpg" alt="" />
            </li>
        </ul>
    </div>
</section>
<section class="navigation">
    <div class="navigation-list clearfix">
        <ul class="nav navbar-nav">
            <li><a href="#">公司介绍</a></li>
            <li><a href="#">企业文化</a></li>
            <li><a href="#">发展历程</a></li>
            <li><a href="#">资质荣誉</a></li>
        </ul>
    </div>
</section>
<!--content-->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="fn-section-header">
                <h2 class="section-title text-center">
                    公司简介
                    <i></i>
                </h2>
            </div>
            <div class=" col-sm-8 mt20">
                <p>杭州元泰质量认证咨询有限公司，是一家集中解决企业管理、产品认证、质量检测、知识产权等问题的专业咨询机构，目前下辖公司遍布江浙沪皖省会或中心城市，包括上海、杭州、南京、苏州等。</p>
                <p>公司主要开展产品质量认证、体系认证、产品检测、国际认证检测等认证检测类业务；是由工商局、质量技术监督局、认证认可监督管理委员会认可批准成立的一家专业认证检测咨询服务公司。涉及认证种类主要有CCC认证、CQC认证、CE认证、RoHS认证、ISO9001/ISO14001/OHSAS18001认证、IATF16949认证、ISO20000、ISO27001、ISO22000、售后服务管理体系认证、AAA级信用、节能、环保、中国环境标志产品认证（十环认证）、入网许可、型号核准、委托检测等认证检测咨询服务，并可开展相关知识培训。涉及产品种类主要有电子产品、音视频设备、照明灯具、玩具/童车、机动车及附件、家用电器、电线电缆、开关插座、电动机、高低压电器等常见产品。涉及行业包含制造业、建筑业、施工工程业，运输物流业，旅游酒店业、物业管理业等多领域。</p>
            </div>
            <div class="col-sm-4 mt20 text-center">
                <img class="img-responsive" src="images/about_02.jpg">
            </div>
        </div>
    </div>
</section>
<section class="content culture ">
    <div class="container">
        <div class="row">
            <div class="fn-section-header">
                <h2 class="section-title text-center">
                    企业文化
                    <i></i>
                </h2>
            </div>
            <div class="firm row">
                <div class=" col-md-6">
                    <div class="row">
                        <div class=" col-md-6">
                            <img src="images/about_3.jpg">
                            <p>助力每个企业生产的产品 <br> 都符合标准要求
                            </p>
                        </div>
                        <div class=" col-md-6">
                            <img src="images/about_2.jpg">
                            <p>专业成就行业领先 <br> 诚信创造社会快乐 </p>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <img src="images/about_1.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content course">
    <div class="container">
        <div class="row time">
            <div class=" col-sm-4">
                <img src="images/about_4.jpg">
            </div>
            <div class="col-sm-4">
                <div class="course-item" style="display: block;">
                    <div class="year">2013</div>
                    <p>杭州元泰质量认证咨询有限公司成立，立志成为行业的标杆， 公司将秉持“客户至上，解决问题”的原则为更多客户带来 更优质的服务。
                    </p>
                </div>
                <div class="course-item">
                    <div class="year">2014</div>
                    <p>杭州元泰质量认证咨询有限公司成立，立志成为行业的标杆， 公司将秉持“客户至上，解决问题”的原则为更多客户带来 更优质的服务。
                    </p>
                </div>
                <div class="course-item">
                    <div class="year">2015</div>
                    <p>杭州元泰质量认证咨询有限公司成立，立志成为行业的标杆， 公司将秉持“客户至上，解决问题”的原则为更多客户带来 更优质的服务。
                    </p>
                </div>
                <div class="course-item">
                    <div class="year">2016</div>
                    <p>杭州元泰质量认证咨询有限公司成立，立志成为行业的标杆， 公司将秉持“客户至上，解决问题”的原则为更多客户带来 更优质的服务。
                    </p>
                </div>
            </div>
            <div class=" col-sm-4 timeImg">
                <img src="images/about_6.jpg">
            </div>
        </div>
        <div class="shaft">
            <span class="arrows pull-left left"><i class="iconfont">&#xe603;</i></span>
            <ul class="time-horizontal">
                <li class="active"><span class="node"></span><span class="year">2013</span></li>
                <li><span class="node"></span><span class="year">2014</span></li>
                <li><span class="node"></span><span class="year">2015</span></li>
                <li><span class="node"></span><span class="year">2016</span></li>
                <li><span class="node"></span><span class="year">2017</span></li>
                <li><span class="node"></span><span class="year">2018</span></li>
                <li><span class="node"></span><span class="year">2019</span></li>
            </ul>
            <span class="arrows pull-right right"><i class="iconfont">&#xe603;</i></span>
        </div>
    </div>
</section>
<!-- <section class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4"></div>
            <div class="col-xs-12 col-md-4"></div>
        </div>
    </div>
</section> -->
<section class="content honor">
    <div class="container">
        <div class="row">
            <div class="fn-section-header">
                <h2 class="section-title text-center">
                    荣誉资质
                    <i></i>
                </h2>
            </div>
            <div class="col-xs-6 col-sm-3 col-lg-2">
                <img class="img-responsive" src="images/about_certificate01.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 col-lg-2">
                <img class="img-responsive" src="images/about_certificate02.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 col-lg-2">
                <img class="img-responsive" src="images/about_certificate03.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 col-lg-2">
                <img class="img-responsive" src="images/about_certificate04.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 col-lg-2">
                <img class="img-responsive" src="images/about_certificate05.jpg">
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.time-horizontal li').on('click', function(event) {
            event.preventDefault();
            $(this).addClass('active').siblings('').removeClass('active');
            var index=$(this).index('');
            $('.course-item').eq(index).css('display', 'block').siblings('').css('display', 'none');;
        });

    });
</script>
{% endblock %}