{% extends 'component/layout.html' %}
{% import 'component/component.html' as cmm %}
{% block title %} 联系我们 {% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="less/_relation.less">
{% endblock %}
{% block body %}
<section id="banner">
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="images/relation_08.jpg" alt="" />
              </li>
        </ul>
    </div>
</section>
<!-- end slide-->
<section id="content" class="no-padd about_bg">
    <div class="content current container">
        <h2>联系我们<i></i></h2>
        <ul class="contact-icon row">
            <li class=" col-md-4 col-sm-4  col-xs-12 "><img src="images/relation_05.jpg"/><span>联系电话：13333333333</span>
                <div style="width:1px;height:114px; background: #e2e2e2;top:32px;position:absolute;right:0;"></div>
            </li>
            <li class=" col-md-4 col-sm-4  col-xs-12 "><img src="images/relation_06.jpg"/><span>联系传真：027-58858585</span>
                <div style="width:1px;height:114px; background: #e2e2e2;top:32px;position:absolute;right:0;"></div>
            </li>
            <li class=" col-md-4 col-sm-4  col-xs-12 "><img src="images/relation_07.jpg"/><span>联系邮箱：service@whbsdy.com</span></li>
        </ul>
    </div>
</section>
<!--contact-->
<section id="content" class="no-padd adress">
    <div class="container">
        <ul class=" row">
            <li class=" col-md-6 col-sm-6  col-xs-12 ">
                <div class="left col-md-4 col-sm-4 col-xs-12">
                    <img class="images" src="images/relation_01.jpg" />
                    </div>
                    <div class="right col-md-8 col-sm-8  col-xs-12">
                        <h2>杭州总部<i></i></h2>
                        <p>地址：浙江省杭州市下城区华丰路2号华丰创业园5幢411室</p>
                        <p>手机：18758064330 18268117122</p>
                    </div>
            </li>
            <li class=" col-md-6 col-sm-6  col-xs-12 ">
                <div class="left col-md-4 col-sm-4 col-xs-12">
                    <img class="images" src="images/relation_02.jpg" />
                    </div>
                    <div class="right col-md-8 col-sm-8  col-xs-12">
                        <h2>上海<i></i></h2>
                        <p>地址：上海市长宁区中山西路1265弄18号湘江大厦</p>
                        <p>手机：18616989675 </p>
                    </div>
            </li>
            <li class=" col-md-6 col-sm-6  col-xs-12 ">
                <div class="left col-md-4 col-sm-4 col-xs-12">
                    <img class="images" src="images/relation_03.jpg" />
                    </div>
                    <div class="right col-md-8 col-sm-8  col-xs-12">
                        <h2>南京<i></i></h2>
                        <p>地址：江苏省南京市江宁区欣旺花苑120幢2单元104室</p>
                        <p>手机：13770709025 </p>
                    </div>
            </li>
            <li class=" col-md-6 col-sm-6  col-xs-12 ">
                <div class="left col-md-4 col-sm-4 col-xs-12">
                    <img class="images" src="images/relation_04.jpg" />
                    </div>
                    <div class="right col-md-8 col-sm-8  col-xs-12">
                        <h2>苏州<i></i></h2>
                        <p>地址：江苏省苏州市虎丘区宝带西路1099号汇金科创中心2号楼302A室</p>
                        <p>手机：18551200101 </p>
                    </div>
            </li>
        </ul>
    </div>
</section>
<!--END -contact-->
{% endblock %}
{% block script %}
{% endblock %}