<footer class=" col-sm-12">
    <div class="container">
        <div class="footLeft">
            <div class="row">
                <div class="footCode col-sm-3 ">
                    <div class="code-img codeImg">
                        <img src="images/index_06.jpg" />
                    </div>
                    <div class="footP">
                        <i class="iconfont">&#xe618;</i>
                        <i class="iconfont">&#xe6af;</i>
                        <i class="iconfont">&#xe602;</i>
                        <i class="iconfont">&#xe61f;</i>
                    </div>
                </div>
                <div class="footUl col-sm-9 ">
                    <div class="row">
                        <div class="col-sm-2 col-xs-6">
                            <h5>业务范围</h5>
                            <a href="#" target="_blank">国内产品认证 </a>
                            <a href="#" target="_blank">国际产品认证</a>
                            <a href="#" target="_blank">体系认证</a>
                            <a href="#" target="_blank">知识产权</a>
                            <a href="#" target="_blank">委托测试</a>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <h5>新闻资讯</h5>
                            <a href="#" target="_blank">公司动态</a>
                            <a href="#" target="_blank">行业动态</a>
                            <a href="#" target="_blank">公司活动</a>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <h5>合作资源</h5>
                            <a href="#" target="_blank">机构展示</a>
                            <a href="#" target="_blank">供应资源</a>
                            <a href="#" target="_blank">需求信息</a>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <h5>关于我们</h5>
                            <a href="#" target="_blank">公司介绍</a>
                            <a href="#" target="_blank">企业文化</a>
                            <a href="#" target="_blank">发展历程</a>
                            <a href="#" target="_blank">资质荣誉</a>
                        </div>
                        <div class="last col-sm-2 col-xs-6">
                            <h5>快速连接</h5>
                            <a href="#" target="_blank">我的认证</a>
                            <a href="#" target="_blank">加入我们</a>
                            <a href="#" target="_blank">联系我们</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <p>Copyright © 2019 YTZIXUN.COM All rights reserved 元泰认证咨询有限公司 浙ICP备16036437号-1</p>
    </div>
</footer>